@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

img{
    max-width:100%;
    max-height:100%
    }

    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }