

  #formulario {
    width: 1250px;
    height: 570px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-left: 200px;
    margin-top: 20px;
  }

  #formulario input[class="form"] {
    height: 30px;
    width: 300px;
  }

  label,
  input {
    display: block;
    width: 75%;
    margin-bottom: 6px;
    margin-top: -15px;
  }

  input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
/* CAMBIO DE DATOS */

